<div class="container">  <mat-card>
        <div class="w3-container w3-center w3-animate-zoom ">
          <h2 class="EmployDesign"><b>JANCH GHAR</b></h2>

        </div>
        <form class="example-form" [formGroup]="JachGhar" (ngSubmit)="onSubmit()">

            <div class="row">
            <div class="input-group input-group-sm col md-2 col-xl-2 col-sm-12 col-xs-offset-9 " style="text-align: right;">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
              </div>
              <input type="date" class="form-control" formControlName="date" id="date" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>

          <div class="form-group">
            <label for="name">Name of the Patient :- </label>
            <input type="text" class="form-control" id="name" formControlName="patientName" aria-describedby="nameHelp" name="name" >
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="name">Age :- </label>
              <input type="number" class="form-control" id="age" formControlName="age" aria-describedby="nameHelp" name="name" >
            </div>
            <div class="form-group col-md-6">
              <label for="Grouping">Sex:-</label>
              <select (change)="changeSex($event)" class="form-control" formControlName="sex">
                <option>Select Group</option>
                <option *ngFor ="let sex of Sex">
                  {{sex}}
                </option>
              </select>
           </div>

          </div>
          <div class="form-group">
            <label for="name">Refd. by Dr:-</label>
            <input type="text" class="form-control" id="position"formControlName="dr" aria-describedby="positionHelp" name="position">
          </div>
          <h3 class="bloodgroup">BLOOD GROUPING</h3>
          <div class="row">

            <div class="form-group col-md-3 col-sm-6 col-xl-3">
              <label for="Grouping" >Grouping :-</label>
              <select id="grouping" (change)="changegrouping($event)" FormControlName="grouping" class="form-control">
               <option>Select Group</option>
                <option [value]="group" *ngFor ="let group of Grouping">
                  {{group}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-3 col-sm-6 col-xl-3">
              <label for="Grouping" >RH Type :-</label>
              <select id="grouping"(change)="rhtypes($event)" FormControlName="rhtype" class="form-control">
               <option>Select Group</option>
                <option [value]="RHtype" *ngFor ="let RHtype of Rhtype">
                  {{RHtype}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xl-3">
              <label for="Grouping">Blood For V.D.R.L By Strip :- </label>
              <select id="grouping" (change)="vdrls($event)" FormControlName="vdrl" class="form-control">
                <option>Select Group</option>
                 <option [value]="strip" *ngFor ="let strip of BloodForVDRLByStrip">
                   {{strip}}
                 </option>
               </select>
              </div>
               <div class="form-group col-md-3 col-sm-6 col-xl-3">
                <label for="Grouping">Urine of Pregnancy Preg Strip :- </label>
                <select id="grouping" (change)="urins($event)" FormControlName="urine" class="form-control">
                  <option>Select Group</option>
                   <option [value]="strip" *ngFor ="let strip of BloodForVDRLByStrip">
                     {{strip}}
                   </option>
                 </select>
          </div>
        </div>
        <div class="text">
          <h4>Manotoux Test 5 T.U. / 10 T.U. by P.P.D.</h4>
          <h4>Result After 48 Hours.</h4>
          <h4>Zone of Induratioins .................................... in diameter with / withour Erythema and Oedema :-</h4>
        </div>
        <div class="row">
            <label class="col-md-12"><u>Remark</u></label>
        </div>


        <mat-radio-group aria-label="Select an option" formControlName="remark">
          <mat-radio-button value="1">Positive</mat-radio-button>
          <mat-radio-button value="2">Negative</mat-radio-button>
        </mat-radio-group>

        <h6>(1) PI. Falciprum :-</h6>
        <h6>(2) PI. Vivax :-</h6>

        <div class="row">
          <div class="form-group col-md-6 col-sm-12">
              <label for="Grouping">(A) Serum for HIV Test 1/2 </label>
              <select id="Serum" (change)="serums($event)" formControlName="serum" class="form-control">
                <option>Positive</option>
                <option>Negative</option>
              </select>
          </div>
      </div>
      <label for="Grouping">(B) C-Reactive Protein(CRP) </label>

      <div class="input-group input-group-sm col md-2 col-xl-2 col-sm-12  " style="text-align: right;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Date Of Report</span>
        </div>
        <input type="date" class="form-control" formControlName="DateofReport" id="date" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="row space">
          <div class="col-md-6">
              <label>Note</label>
          </div>
          <div class="col-md-6" style="text-align: right;">
              <label>Examiner</label>
          </div>
      </div>
      <div class="col text-center">
        <button type="submit" mat-raised-button color="primary">Primary</button>
      </div>

          </form>
      </mat-card>
    </div>

